.Rproj.user
.Rhistory
.RData
.Ruserdata
02-WindsAndTemp.pdf
03-WindsAndTemp.pdf
04-WindsAndTemp.pdf
05-WindsAndTemp.pdf
06-WindsAndTemp.html
06-WindsAndTemp.pdf
07-WindsAndTemp.pdf
08-WindsAndTemp.pdf
09-WindsAndTemp.pdf
10-WindsAndTemp.pdf
rmarkdown-cheatsheet-2.0.pdf
10-Hyperlinks_and_Images.pdf
07-RMarkdown_Basics.html
*.pdf
*.html
